.grilla-index{
    display:grid;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 200px 500px 500px 1200px auto;
  
  
  }

  .grilla-productos{
    display:grid;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 200px 500px auto auto;
  
  
  }



  .header{
    grid-column: span 12;
    flex-direction: row;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
  }  

  .content-prod{
    grid-column: span 12;
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color:black;
    border-radius: 0.25rem;
  } 

  .content-productos{
    grid-column: span 12;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  }
  
  .content-presupuesto{
    grid-column: span 12;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color:  #f57f17;
    border: solid 0.5px #f57f17;
    border-right: none;
    border-left: none;  
  }
  
  .content1-index{
    grid-column: span 12;
    background-color: white;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
  }

  .content2-index{
    grid-column: span 12;
    background-color: white;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }




  
  .section-index{
    grid-column: span 12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
  }

  .footer {
    grid-column: span 12;
    background-color: $GRISCLARO;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    
  
  }  

.imagen-somos{
    display: flex;
    align-items: center;
  text-align: center;
  margin: 12px;
  
}

.texto-somos{
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 12px;
    padding: 40px;
    background-color: $GRISCLARO;
    align-items: center;
    border-radius: 10px;
}

.container-somos{
    display: flex;
    justify-content: center;
    margin: 12px;
    align-items: center;
    border-radius: 10px;

}

.container-servicios{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  
}

.container-img-index{
  display: flex;

}

html{scroll-behavior:smooth}

.card{
  margin: 3px;
  padding: 5px;
 
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1-index img{
  width: 500px;
  height: auto;
  border-radius: 5px;
}

.content2-index img{
  width: 500px;
  height: auto;
  border-radius: 5px;
}


.fa-facebook{
  padding-right: 10px;
}

.fa-instagram{
  padding-right: 10px;
}

.col-md-4{
  position:relative;
  display:inline-block;
  overflow: hidden;
}


.cold-md-4 .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0,170,170);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.col-md-4:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:80%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  font:$FUENTEMENU;
  background-color: rgba(0,0,0,0.45);
  font-size: 30px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  
}





@media only screen and (min-width: 320px) and (max-width: 480px){

.grilla-index{
  display:grid;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.header{
 
  align-items: center;
}



.header img{
  width: 300px;
}

.content1-index{
  max-width: 100%;
}

.content2-index{
  max-width: 100%;
}

.container-somos{
max-width: 320px;  
flex-direction: column;

}



.content-presupuesto{
  flex-direction: column;
  justify-content: space-around;
  max-width: auto;
  padding: 20px;
  margin: 5px;
  text-align: center;

  }


.btn
.btn-dark{
  margin-top: 5px;
}

.imagen-somos img{
  max-width: 300px;
}



.content-prod{
  max-width: auto ;
}

.container-fluid img{
  margin-top: 10px;
}

h5{
  font-size: 40px;
}

.grilla-productos{
  display:grid;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.content-productos{
  justify-content: space-around;
  max-width: auto;
}

div iframe{
width: 300px;
}

.lineaVertical{
  align-content: center;
}

}

@media only screen and (max-width: 768px){

  .grilla-index{
    display:grid;
      max-width: 100%;
      min-height: 100vh;
      margin: 0 auto;
      grid-template-columns: auto;
      grid-template-rows: auto;
  }
  
  .header{
   
    align-items: center;
  }
  
  
  
  .header img{
    width: 300px;
  }
  
  .content1-index{
    max-width: 100%;
  }
  
  .content2-index{
    max-width: 100%;
  }
  
  .container-somos{
  max-width: 100%;  
  flex-direction: column;
  
  }
  
  
  
  .content-presupuesto{
    flex-direction: column;
    justify-content: space-around;
    max-width: auto;
    padding: 20px;
    margin: 5px;
    text-align: center;
  
    }
  
  
  .btn
  .btn-dark{
    margin-top: 5px;
  }
  
  .imagen-somos img{
    max-width: 300px;
  }
  
  
  
  .content-prod{
    max-width: auto ;
  }
  
  .container-fluid img{
    margin-top: 10px;
  }
  
  h5{
    font-size: 40px;
  }
  
  .grilla-productos{
    display:grid;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  
  .content-productos{
    justify-content: space-around;
    max-width: auto;
  }
  
  div iframe{
  width: 100%;
  }
  
  .lineaVertical{
    align-content: center;
  }
  
  }
