$PRIMARIA: normal 40px 'Nunito', sans-serif;
$SECUNDARIA: normal 30px 'Roboto Slab', serif;
$TERCIARIA: normal 16px 'Roboto Slab', serif;
$BIGTITLE: normal 80px 'Nunito', sans-serif;
$GRISCLARO: lightgray;
$FUENTEMENU: normal 20px 'Nunito', sans-serif;
$FUENTECHICA: normal normal 12px 'Roboto Slab', serif;
